main {
    width: 100%;
}
a{
    text-decoration: none;
}

/* -----------------------
first section
----------------------- */
#first {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#first > .textbox {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
#first > .textbox > h1 {
    font-size: 10.3125rem;
    font-weight: 800;
    color: #fff;
}
.bg_GR {
    background-image: linear-gradient(
        35deg,#11cdef,#1171ef);
}
/* -----------------------
///////first section
----------------------- */

/* -----------------------
circles
----------------------- */
div[class^="circle"] {
    background-color: #fff;
    opacity: .3;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.circle1 {
    width: 120px;
    height: 120px;
    left: 150px;
    top: 150px;
}
.circle2 {
    width: 250px; height: 250px;
    left: 70px;
    top: 550px;
}
.circle3 {
    width: 150px; height: 150px;
    left: 100px;
    top: 750px;
}
.circle4 {
    width: 130px; height: 130px;
    bottom: -15px;
    right: calc(50% - 250px);
}
.circle5 {
    width: 230px; height: 230px;
    top: 70px;
    right: 300px;
}
.circle6 {
    width: 200px; height: 200px;
    top: 230px;
    right: 410px;
}
.circle7 {
    width: 220px; height: 220px;
    bottom: 150px;
    right: 210px;
}
.circle8 {
    width: 90px; height: 90px;
    top: 80px;
    left: calc(50% - 150px);
}
/* -----------------------
////////////////circles
----------------------- */

/* -----------------------
second sec(intro)
----------------------- */
#second {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 320px;
    color: #fff;
}
.contents_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 200px;
    z-index: 999;
}
.contents_wrap > div {
    width: 50%;
}
.left_wrap >h2 {
    font-size: 2.5rem;
    font-weight: bold;
    white-space: nowrap;
}
.left_wrap > ul {
    display: flex;
    padding: 25px 0 10px 0;
    column-gap: 10px;
}
.left_wrap > ul > li a {
    display: block;
    font-size: .75rem;
    border: 1px solid #fff;
    border-radius:  20px;
    padding: 2px 7px;
    cursor: pointer;
    box-sizing: border-box;
    color: #fff;
    transition: .2s;
}
.left_wrap > ul li a.active,
.left_wrap > ul li a:hover {
    transform: scale(1.1);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
}
.left_wrap  p {
    font-size: 1.25rem;
    font-weight: bold;
    word-break: keep-all;
}
#tab_wrap  p{
    display: none;
}
.right_wrap {
    position: relative;
}
.right_animate {
    height: 500px;
    box-sizing: border-box;
    position: relative;
    top: -150px;
}
.right_animate > div {
    margin: 175px auto;
}

/* ===== 물방울 애니메이션 ===== */
.drop {
    position: relative;
    width: 20px;
    height: 20px;
    top: -30px;
    margin: 0 auto;
    background: #FFF;
    border-radius: 20px;
    animation-name: drip;
    animation-timing-function: cubic-bezier(1,0,.91,.19);
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.drop:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid rgba(255,255,255,1);
    top: -22px;
}
.wave {
    position: relative;
    opacity: 0;
    top: 0;
    width: 2px;
    height: 1px;
    border: #FFF 7px solid;
    border-radius: 300px / 150px;
    animation-name: ripple;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.wave:after {
    content: "";
    position: absolute;
    opacity: 0;
    top: -5px;
    left: -5px;
    right: -5px;
    width: 2px;
    height: 1px;
    border: #FFF 5px solid;
    border-radius: 300px / 150px;
    animation-name: ripple-2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes ripple {
    from {
        opacity: 1;
    }
    to {
        width: 600px;
        height: 300px;
        border-width: 1px;
        top: -100px;
        opacity: 0;
    }
}
@keyframes ripple-2 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
    width: 200px;
    height: 100px;
    border-width: 1px;
    top: 100px;
    left: 200px;
    }
}
@keyframes drip {
    to {
        top: 190px;
    }
}
/* ////// 물방울 애니메이션 ////// */
.right_text {
    position: absolute;
    left: 30px;
    bottom: 180px;
    opacity: .75;
    text-align: center;
}
.right_text > h3 {
    font-size: 2rem;
}
.right_text > h3 > span {
    font-size: 1rem;
}
.right_text > p {
    font-size: 1.25rem;
}


/* -----------------------
////second sec(intro)
----------------------- */

/* -----------------------
third sec(skills)
----------------------- */
#third {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 320px;
    color: #32325d;
}
#third > .contents {
    width: 100%;
    text-align: center;
}
.sTitle {
    font-size: 2.8125rem;
    font-weight: bold;
    margin-top: 60px;
}
#third > .contents > .icon_box {
    width: 100%;
    justify-content: center;
    display: flex;
    column-gap: 30px;
    padding-top: 110px;
}
.icon_box > div {
    width: 150px;
    height: 150px;
    position: relative;
}
.icon_box > div:last-child {
    padding: 2px 20px;
    box-sizing: border-box;
}
.icon_box > div:nth-child(2n+1){
    margin-top: 200px;
}
.icon_box > div > img {
    width: 100%;
}
.icon_box .childs {
    position: absolute;
    color: #fff;
    opacity: 0;
    transition: .4s;
}

.icon_box .childs > span {
    display: inline-block;
    border-radius: 15px;
    width: 90px;
    height: 30px;
    line-height: 30px; 
    padding: 2px 5px;
} 
.icon_box > div .active, 
.icon_box > div:hover .childs {
    opacity: 1;
}
.html {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    column-gap: 20px;
}
.html > span {
    background: #FF6C39;
}
.html > span:nth-child(1),
.html > span:nth-child(3){
    margin-top: 30px;
}
.css {
    top: calc(100% - 50px);
    right: 60%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.css > span {
    background-color: #347DC6;
}
.css > span:nth-child(1){
    margin-right: 15px;
}
.css > span:nth-child(2){
    margin-left: 45px;
}
.css > span:nth-child(3){
    margin-left: 90px;
}
.js {
    top: 100%;
    left: calc(100% + 20px);
    position: relative;
}
.js > span {
    background-color: #F0DB4F;
    box-sizing: border-box;
    position: absolute;
}
.js > span:nth-child(1){
    bottom: 70px;
    left: 20px;
}
.js > span:nth-child(2){
    bottom: 20px;
    left: 0;
}
.js > span:nth-child(3){
    left: -30px;
}
.js > span:nth-child(4){
    bottom: -80px;
    left: -70px;
}
#third > .contents > h3 {
    margin:100px 0 30px;
    font-size: 2.5rem;
    font-weight: bold;
}
#third > .contents > ul {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
#third > .contents > ul > li {
    max-width: 100px;
    min-width: 50px;
    height: 100px;
}
#third > .contents > ul > li:hover img {
    transform: translateY(-15px);
}
#third > .contents > ul > li:nth-child(2){
    transform: scale(1.3);
    margin-left: 8px;
}
.contents > ul > li > img {
    width: 100%;
    transition: .3s ease-out;
}
/* -----------------------
//////third sec(skills)
----------------------- */

/* -----------------------
fourth sec(projects)
----------------------- */
#fourth {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 320px;
    color: #32325d;
}
#fourth > .contents {
    width: 100%;
    text-align: center;
}
#fourth > .contents > ul {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
#fourth > .contents > ul > li > a {
    width: 100%;
    background-color: #eee;
    padding: 5px 15px;
    color: #32325d;
    position: relative;
}
#fourth > .contents > ul > li > a::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    right: 50%;
    border-bottom: 2px solid #FFAC33;
    transition: .35s;
}
#fourth > .contents > ul > li > a.active::before,
#fourth > .contents > ul > li > a:hover::before{
    left: 0;
    right: 0;
}
.projects_wrap > div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
}
.projects_wrap > div > figure {
    width: 50%;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
figure > div {
    width: 50%;
}
figure > .img_wrap {
    max-width: 250px;
    height: 400px;
    position: relative;
}
figure > .img_wrap > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .35s ease-out;
}
figure > .img_wrap:hover > img:nth-child(2){
    transform: rotate(-10deg);
    transform-origin:150px 700px;
}
figure > .img_wrap:hover > img:nth-child(3){
    transform: rotate(-20deg);
    transform-origin: 150px 700px;
    transition: .3s .1s ease-out;
}
figure > .img_wrap > img:nth-child(1){
    z-index: 3;
}
figure > .img_wrap > img:nth-child(2){
    z-index: 2;
}
figure > .img_wrap > img:nth-child(3){
    z-index: 1;
}
figure > .text_wrap {
    width: calc(50% - 100px);
    text-align: left;
    margin-left: 30px;
}
figure > .text_wrap > h3 {
    font-size: 1.875rem;
    margin-bottom: 10px;
}
figure > .text_wrap > ul  > li {
    padding-left: 25px;
    background-image: url(../img/26a1.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    line-height: 20px;
    margin-bottom: 5px;
}
figure > .text_wrap > .btn_wrap {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
figure > .text_wrap > .btn_wrap > a {
    width: 150px;
    height: 30px;
    margin-bottom: 10px;
    line-height: 30px;
    text-align: center;
    color: #FFAC33;
    border: 1px solid #FFAC33;
    border-radius: 15px;
    transition: .35s;
}
figure > .text_wrap > .btn_wrap > a:hover {
    color: #fff;
    background-color: #FFAC33;
}
.projects_wrap > div {
    display: none;
}
/* -----------------------
//fourth sec(projects)
----------------------- */

/* -----------------------
fifth sec(contact)
----------------------- */
#fifth {
    margin-top: 150px;
    width: 100%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 320px 150px;
    color: #32325d;
}
#fifth > .contents {
    width: 100%;
    text-align: center;
}
#fifth > .contents > .contact_wrap {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    column-gap: 100px;
}
#fifth > .contents > .contact_wrap > div {
    width: 50%;
}
.left {
    width: 100%;
}
.left > .img_box {
    float: right;
    width: 100%;
    max-width: 350px;
    height: 400px;
    background-color: aliceblue;
}
.right {
    text-align: left;
    height: 500px;
}
.text_top {
    width: auto;
    display: flex;
    flex-direction: column;
}
.text_top > h4{
    font-size: 2rem;
    width: 250px;
}
.text_top > h4 > span {
    font-size: 1.25rem;
    color: #777;
}
.text_top > span {
    width: 250px;
    height: 40px;
    font-size: 1.25rem;
    text-align: center;
    line-height: 40px;
    color: #fff;
}
.info_wrap {
    margin-top: 50px;
    width: auto;
}
.info_wrap ul {
    width: 100%;
    height: calc(400px - 135px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info_wrap li {
    display: flex;
    line-height: 40px;
}
.info_wrap li > span {
    display: inline-block;
    max-width: 40px;
    max-height: 40px;
    margin-right: 5px;
}
.info_wrap li > span > img {
    width: 100%;
    height: 100%;
}
/* -----------------------
////fifth sec(contact)
----------------------- */



/* -----------------------
footer
----------------------- */
footer {
    position: relative;
    width: 100%;
    height: 80px;
    text-align: center;
    color: #fff;
    line-height: 80px;
    font-size: 1.25rem;
}
/* -----------------------
////////////////footer
----------------------- */


/* ========== media ========== */
@media (max-width: 1680px) {
    #second,
    #third,
    #fourth,
    #fifth{
        padding: 0 160px;
    }
}
@media (max-width : 1300px){
    html {
        font-size: 12px;
    }
    .wave{
        animation: none;
    }
    #third > .contents > ul > li:nth-child(2){
        padding-top: 5px;
    }
    .contents_wrap{
        flex-direction: column;
        padding-top: 50px;
    }
    .contents_wrap > div {
        margin: 0 auto;
        width: 100%;
    }
    .right_animate {
        margin-top: 300px;
    }
    .right_text {
        bottom: 330px;
    }
    #fourth {
        padding: 0 80px;
    }
    #fifth {
        padding-bottom: 150px;
    }
}
@media (max-width : 980px){
    html{
        font-size: 10px;
    }
    #fourth > .contents > ul {
        column-gap: 5px;
    }
    .projects_wrap > div > figure {
        width: 100%;
        margin: 0 auto;
        /* padding-left: 100px; */
    }
    figure > .text_wrap{
        width: 20%;
    }
    figure > .text_wrap > .btn_wrap > a{
        width: 80px;
    }
    #fifth {
        padding-bottom: 50px;
    }
    #fifth > .contents > .contact_wrap {
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
        column-gap: 0;
    }
    #fifth > .contents > .contact_wrap > div {
        width: 100%;
    }
    .left > .img_box {
        float: none;
        margin: 0 auto;
        min-width: 250px;
    }
    .right {
        justify-content: center;
        height: 100%;
    }
    .text_top {
        align-items: center;
    }
    .info_wrap {
        margin-top: 30px;
    }
    .info_wrap ul {
        align-items: center;
        justify-content: flex-start;
    }
    .info_wrap li {
        line-height: 20px;
        margin-bottom: 15px;
    }
    .info_wrap li > span {
        width: 20px;
        height: 20px;
    }
}
@media (max-width:820px){
    #first > .textbox > h1{
        font-size: 7rem;
    }
    .icon_box .childs > span{
        width: 60px;
        height: 20px;
        line-height: 20px;
    }
    .projects_wrap > div > figure {
        padding-left: 0;
    }
    figure > .text_wrap {
        width: 20%;
        text-align: left;
        margin-left: 10px;
    }
}
@media (max-width:600px){
    #second,
    #third,
    #fourth,
    #fifth{
        padding: 0 80px;
    }
    .left_wrap >h2 {
        text-align: left;
    }
    .css {
        right: 40%;
    }
}